<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penzvalto</title>
</head>
<body>
    <form method="post">

        {% csrf_token %}
        <p>Üdvözöllek kedves {{user.username}}</p>
        <label for="atvaltando">Átváltandó összeg:</label>
        <input type="number" id="atvaltando" name="atvaltando" required>    

        <label for="errol">Erről:</label>
        <select id="errol" name="errol">
            {% for x in valutak %}
                 <option value="{{ x.penznem }}">{{ x.penznem }}</option>
            {% endfor %}
        </select>

        <label for="erre">Erre:</label>
        <select id="erre" name="erre">
            {% for y in valutak %}
            <option value="{{ y.penznem }}">{{ y.penznem }}</option>
            {% endfor %}
        </select>    
        <input type="submit" id="atvalt" name="valt" value="Válás">
    </form>
    <p>Átváltottál: 
    {% if atvaltottertek %}
        {{ atvaltando }} {{ errol }} -t {{ atvaltottertek }} {{ erre }}-ra/re.
    {% endif %}
    </p>
    <a href="{% url 'logout' %}"><button >Kijelentkezés</button></a><br><br>
    <a href="{% url 'deleteuser' %}"><button >Felhasználó törlése</button></a> Óvatosan használd, nehogy a superuser-t töröld ha azzal vagy bejelentkezve.
</body>
</html>