body{
    margin: 0;
    padding: 0;
    background-color: #85c1e9;
}

.input{
    margin: 0.1em;
}

.mycontainer1{
    background: #154360;
    border: 0.2em solid #85c1e9;
    border-radius: 10px;
    height: auto;
}

.mycontainer2{
    background: #d6eaf8;
    border: 0.2em solid #85c1e9;
    border-radius: 20px;
    color: #154360;
}

.mybtnactive{
    background: #154360;
    color: #d6eaf8;
    border: 0.2em solid #154360;;
}

.mybtnactive:hover{
    background: #d6eaf8;
    color: #154360;
    border: 0.2em solid #154360;;
}

.mybtn{
    background: #d6eaf8;
    color: #154360;
    border: 0.2em solid #d6eaf8;
}
.mybtn:hover{
    background: #d6eaf8;
    color: #154360;
    border: 0.2em solid #154360;
}

.valtas2sor{
    font-size: 2.5em;
    font-weight: bold;
}

.kep1{
    background-image: url(../img/euro-valuta.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center !important;
    height: 300px;
    position: relative;
    color: #154360;
}

.kep10{
    background-image:  linear-gradient(270deg, rgba(0,0,0,0), rgba(235, 245, 251, 0.9));
    height: 100%;
}

.kep2{
    background-image: url(../img/debrecen-valutavalto.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center !important;
    height: 300px;
    position: relative;
    color: #154360;
}

.kep20{
    background-image:  linear-gradient(90deg, rgba(0,0,0,0), rgba(235, 245, 251, 0.8));
    height: 100%;
}

.szoveg01{
    color: #85c1e9;
    font-size: 4rem;
    font-weight: bold;
}

.szoveg02{
    color: #85c1e9;
    font-size: 1rem;
    font-weight: normal;
}

.kuldesbig{
    background-image: url(../img/curved-line-reflection.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center !important;
    height: auto;
    position: relative;
    color: #154360;
}
