body{
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
}

.input{
    margin: 0.1em;
}

.container{
    border: 0.1em solid #f27317;
    border-radius: 10px;
    margin: 0.7em;
    padding: 1.5em;
    height: auto;
    background-color: blanchedalmond;
}

img{
    border-radius: 10px;
    margin: 0.7em;
}

.info{
    border-radius: 10px;
}